@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}

:root {
    --container-color:#15416d;
    --second-color: #3382bf ;
    --text-color:#e35f92 ;
    --bg-color:#eaf2ff ; 
}

::selection{
    color: var(--bg-color);
    background:#d62279 ;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
/* Header */
header{
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    z-index: 200;
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}
header.shadow .logo{
    -webkit-text-stroke: var(--container-color).5px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    -webkit-text-stroke: white 0.5px;
    
}
.logo span {
    color: var(--second-color);
}
.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
    border: 2px solid white;
}

.login:hover{
    background: hsl(218, 73%, 10%);
    transition: 0.3s;
}

/* Home */
.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: #ffffff;
    text-align: center;
}

.home-title {
    font-size: 4.5rem;
}
.home-subtitle{
    font-size: 2rem;
    font-weight: 400;
}

/* Post FIlter */
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

/* posts */
.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}
.post-box{
    background: #fff;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 100%);
    padding: 15px;
    border-radius: 1rem;
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem
}
.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}
.post-title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.post-description{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.profile{
     display: flex;
     align-items: center;
     gap: 10px;
}
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}
.profile-name{
    font-size: 0.85rem;
    font-weight: 500;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer p{
    font-size: 0.938rem; 
}
/* post content */
.post-header{
    width: 100%;
    height: 500px;
    background: var(--container-color);
}
.post-container{
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}
.back-home{
    color: var(--second-color);
    font-size: 1rem;
}
.header-title{
    width: 90%;
    font-size:2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 15;
}
.header-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}
.post-content{
    margin-top: 10.8rem !important;
}
.sub-heading{
    font-size: 1.5rem;
}
.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}
